{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <h3>My Tasks</h3>
    
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.strftime('%Y-%m-%d') }}</td>
            <td>
                <a href="/delete/{{task.id}}">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    <form action="/" method="POST">
        <input type="text" name="content" id="content" placeholder="Add a new task..." required>
        <input type="submit" value="Add Task">
    </form>
</div>
{% endblock %}